<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>G13</title>
  </head>
  <body>
    <nav class="navbar position-sticky navbar-light bg-white p-3">
      <a class="navbar-brand" href="#">
        <img src="../image/logo-pnc.png" width="150" height="55" alt="" />
      </a>
      <div class="row mr-3 display-flex justify-content-between align-center">
        <div class="col mt-1">
          <a class="tex-bold" href="../index.html">Home</a>
        </div>
        <div class="col mt-1">
          <a class="tex-bold text-center" href="list_quiz_view.html"
            >Collection</a
          >
        </div>
        <div class="btn btn-primary rounded">
          <a class="tex-bold text-white-50" href="#">Start Quiz</a>
        </div>
      </div>
    </nav>
    <!-- THEARA RIT(WEB 2022), [5/1/2022 11:35 AM] -->
    <div class="playQuiz mt-5">
      <div class="card m-auto mt-5 col-6">
        <div class="card-body">
          <div class="card-title d-flex justify-content-between">
            <h2>Grammer</h2>
            <h5 class="mt-2">50pt</h5>
          </div>
          <hr />
          <div class="card-text">
            <div id="quiz">
              <div id="question">1. MY QUESTION</div>
              <div class="container">
                <div class="row m-auto">
                  <div
                    class="col btn m-3"
                    onclick="checkAnswer ('A')"
                    style="background: #c18ff4"
                  >
                    Column
                  </div>
                  <div
                    class="col btn m-3"
                    onclick="checkAnswer ('B')"
                    style="background: #c18ff4"
                  >
                    Column
                  </div>
                  <div class="w-100"></div>
                  <div
                    class="col btn m-3"
                    onclick="checkAnswer ('C')"
                    style="background: #c18ff4"
                  >
                    Column
                  </div>
                  <div
                    class="col btn m-3"
                    onclick="checkAnswer ('D')"
                    style="background: #c18ff4"
                  >
                    Column
                  </div>
                </div>
                <div class="row m-auto d-flex justify-content-between">
                  <div class="col col-3 btn m-3 btn-primary" onclick="move()">
                    Previous
                  </div>
                  <div class="col col-3 btn m-3 btn-primary" onclick="move()">
                    Next
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
